﻿@model FA.MockProject.Present.Models.ClassAdmin

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center">Create</h1>

<h4 style="text-align:center">ClassAdmin</h4>
<hr />
<div class="row" style="width:1000px; margin:0 235px;">

    <form asp-action="Create">
        <table class="table table-bordered" style="font-size:85%; width:800px;">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 120%;">
            </colgroup>
            <tbody>
            <tr>
                <th>
                    <label asp-for="Account" class="control-label"></label>
                </th>

                <th>
                    <input asp-for="Account" class="form-control" />
                    <span asp-validation-for="Account" class="text-danger"></span>
                </th>

                <th>
                    <label asp-for="PassWord" class="control-label"></label>
                </th>


                <th>
                    <input type="password" asp-for="PassWord" class="form-control" />
                    <span asp-validation-for="PassWord" class="text-danger"></span>

                </th>




            </tr>
            <tr>
                <th>
                    <label asp-for="FullName" class="control-label"></label>
                </th>


                <th>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>

                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>

                    <input style="vertical-align:middle" asp-for="Gender" />

                </th>
            </tr>
            <tr>

                <th>

                    <label asp-for="DateOfBirth" class="control-label"></label>
                </th>
                <th colspan="3">
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </th>



            </tr>

            <tr>
                <th>
                    <label asp-for="PhoneNumber" class="control-label"></label>

                </th>
                <th>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                </th>
                <th>
                    <label asp-for="Email" class="control-label"></label>
                </th>
                <th>

                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </th>
            </tr>
            </tbody>

        </table>


        @*<th> <p> <div asp-validation-summary="ModelOnly" class="text-danger"></div> </p> </th>*@
        <input type="submit" value="Create" class="btn btn-primary" />
    </form>




</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
