﻿@model IEnumerable<FA.MockProject.Present.Models.ClassAdmin>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">View Admin Profile</h1>

<p>
   
    <a asp-action="Create" asp-area=""
       class="btn btn-primary bg-custom float-left " style="margin-right:5px">
        <i style="font-size:15px; vertical-align: middle;" class="fas fa-plus-square"></i>
    </a>
</p>
<table class="table table-bordered"  style='font-size:85%'>
    <thead>
        <tr>
            <th>
               
                  @Html.DisplayNameFor(model => model.Account)
            </th>
    
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditTrail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
             <a asp-action="Details" asp-controller="ClassAdmins" asp-area=""
                   asp-route-id="@item.ClassAdminId">    @Html.DisplayFor(modelItem => item.Account) </a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuditTrail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>


            <td style="text-align: center; vertical-align: middle;">
                <div style="width:90px;">

                    <form asp-action="Delete" asp-controller="ClassAdmins" asp-area="" asp-route-id="@item.ClassAdminId">
                        <a asp-action="Edit" asp-controller="ClassAdmins" asp-area=""
                           asp-route-id="@item.ClassAdminId" class="btn btn-primary bg-custom float-left w-auto">
                            <i style="font-size:15px; vertical-align: middle;" class="fas fa-edit"></i>
                        </a>

                        <button type="submit"
                                onclick="return confirm('Are you sure to delete ?');"
                                class="btn btn-danger float-right w-auto ">
                            <i style="font-size:15px; vertical-align: middle;" class="fas fa-trash-alt"></i>
                        </button>

                    </form>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
