﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}



<div class="row">
    <div class="col-sm-2 col-md-7 col-lg-4 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body" style="border-radius:1em ;  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);">
                <section>
                    <form id="account" method="post">
                        <h4 class="card-title text-center">Sign in</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            @*<label asp-for="Input.Email"></label>*@
                            <input asp-for="Input.Email" class="form-control card-signin" placeholder="Email address" required autofocus />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="Input.Password"></label>*@
                            <input asp-for="Input.Password" class="form-control card-signin" placeholder="Password" required />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="border-radius: 2em;">Sign in</button>
                        </div>
                        <hr class="my-4">
                    </form>
                </section>
            </div>
        </div>
    </div>

    <div class="col-md-1 col-md-offset-2">
        <section>
            @*<h4>Use another service to log in.</h4>*@
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    @*<div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>*@
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section head{
    <style type="text/css">
      /*  body {
            background-image: url('../../../images/background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            background-color: beige;
        }*/

        .card-signin {
            border: 0;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        }
    </style>
}
