﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mock Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/nav-vertical.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/lib/font-awesome/css/all.css" />
    <style>
        .navbar-custom {
            background-color: orange !important;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow  navbar-custom fixed-top">
            <div class="container-fluid">
                @if (this.User.IsInRole("Manager"))
                {
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"> <i style="font-size:15px; vertical-align: middle;" class="fas fa-bars"></i></a>
                }
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/Logo.png" height="45" width="135" alt="FPT SoftWare">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                 
                    </div>




                </div>
        </nav>






    </header>
    @if (this.User.IsInRole("Manager"))
    {
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Main
                        </a>
                    </li>


                    <li class="nav-item">
                        <a asp-area="" asp-controller="ClassAdmins" asp-action="Index">View Admin</a>
                    </li>

                    <li class="nav-item">
                        <a asp-area="" asp-controller="ClassAdmins" asp-action="Create">Create Admin</a>
                    </li>

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
        </div>
    }
    <div class="container" style="margin-top : 80px">
        <main role="main" style=" width: 110%">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Mock Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("head", required: false)
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
